body {
  background: rgb(2,0,36);
    background: linear-gradient(90deg, white 0%, rgb(144, 196, 144) 35%, rgb(43, 71, 44) 100% );    
   align-items: center;
  margin: 0 !important;
  padding: 0 !important;
}
html{
  box-sizing: border-box;
}
.navbar {
  background-color: black;
  overflow: hidden;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: right;
}

.dropdown {
  float: right;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #333;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1; 
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
img{
  height: 30px;
}
.image {
  float: left;
  padding: 0 !important;
}

.inline{
    display: inline-block;
}
#heading {
    margin-top: 70px;
    margin-left: 20px;
    border-right:black 6px solid;
    padding: 8px;
    letter-spacing: 5px;
}
h1 {
    font-weight: bolder;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: 0;
    position: relative;
}
#jas {
    float: left;
    width: 300px;
    height: 350px;
    position: fixed;
    bottom: 235px;
    left: 90px; 
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 black;
}
p {
    background: black;
    color: rgb(144, 196, 144);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style:normal;
    font-size: 18px;
    max-width: 350px;
    bottom: 100px;
    right: 100px;
    position: fixed;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 black;
    letter-spacing: 1px;

  }
  h3{
    text-align:center;
  }
  #general {
    margin-left: 495px;
    position: fixed;
    bottom: 260px;
    background: black;
    color: rgb(144, 196, 144);
    padding: 10px 15px;
    border-radius: 10px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style:normal;
    font-size: 18px;
    box-shadow: 0 4px 8px 0 black;
    letter-spacing: 1px;
  }
  #list{
      padding: 15px;
  }