body {
  background: rgb(144, 196, 144);
    align-content: center;
    position: relative;
    margin: 0;
}
header {
    background-color: black;
    padding: 10px; 
    text-align:left;
}
header h1 {
    color: white;
    margin: 0;
}
p {
    background-image:url('leaves.jpeg');
    background-repeat: round;
    background-attachment: fixed;
    background-size:auto;
    color: rgb(184, 218, 184);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style:normal;
    font-size: 30px;
    max-width: 450px;
    position:absolute;
    padding: 75px;
    margin-left: 510px;
    margin-top: 60px;
    border-radius: 100%;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    text-align: center;

}
a:link, a:visited {
    background-color: black;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
  }
  
  a:hover, a:active {
    background-color: white;
    color: black;
  }
  b {
    background-color: black;
    color: white;
    padding: 14px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
  }