body {
    margin: 0;
    background: rgb(144, 196, 144);
}
#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    width: 100%;
}
    img {
        height: 50px;
        margin-left: 20px;
        padding-top: 5px;
    }
    .navbar_class {
        float: right;
    }
    
    .navbar_class a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    .navbar_class a:hover {
        background-color: #111;
    }
    .active {
        background-color: #04AA6D;
    }
    .checked {
        margin: 0;
        color: orange;
        padding-top: 200px;
        padding-left: 50px;
    }
 .header {
     padding-top: 70px;
     padding-left: 50px;
     padding-right: 50px;
     text-align: center;
 }
 fieldset {
    border-color: black;
    border-style: solid;
    border-radius: 20px;
    background: whitesmoke;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 200px;
    margin-right: 200px;
 }
 #sub{
    border: 1px solid; 
    cursor: pointer;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 200px;
 }
 legend{
    border-color: black;
    border-style:double;
    border-radius: 5px;
    background: whitesmoke;
    padding: 4px;
 }
